@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
   
  }
  
  .btn-text {
    margin-left: -15px;
    
  }
  
  .sub-text {
  
    font-weight:bolder;
    font-size:7rem;
    line-height: 56px;
    text-transform: capitalize;
    color: #fff;
    transform: rotateZ();
  }
  .hero-text{
    font-size:5rem;
    text-transform: uppercase;
  }
  
  .big-text {
    color: #fff;

    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    text-transform: uppercase;
    margin-right: -530px;
  }

  .body-txt {
   margin-right: 100px;
   margin-bottom: 250px;
   
  }
  
  
  .body-info {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to left, #000000 9.56%, rgba(0, 0, 0, 0) 100.97%);
    height: 615px;
  
  }

  .btn-top{
    margin-bottom: -250px;
    margin-right: -40px;
  }

  .body-1 {
    background: url(../components/assest/image/emage.png) no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
    width: 100vw;
    top: 50px;
    /* height: 615px; */
  }

  .body-bg {
    background: linear-gradient(90deg,black,rgba(3, 0, 9, 0.912),rgba(3, 0, 12, 0.92));
    height: 550px;
    margin-top: 10px;
    color: white;
    padding-left: 60px;
    padding-top: 120px;
  }

  .sub-txt {
    font-weight: lighter;
    font-size: 60px;
  }

  .big-txt {
    font-weight: bolder;
    box-sizing: border-box;
    font-size: 60px;
    line-height: 30px;
  }

  .ark {
   
    margin-top: 50px;
    padding-right: 505px;
    font-weight:bolder;
    font-size: 18px;
  }

  .highlight-word-color {
    color: #D3006C;
    font-style:sans-serif;
    font-weight:bolder;
  }

  .social {
    background-color: #000000;
    background-size: cover;
    height: 600px;
    margin-top: 50px;
  }

  .social-px {
     background: url(../components/assest/image/back-icons.png);
     background-size: cover;
     width: 650px;
     height: 580px;
     color: #fff;
     margin-left: 5rem;
  }

  .hero {
    background-image: linear-gradient(to right,
    rgba(0,0,0,1),
    rgba(0,0,0,.8),
    rgba(0,0,0,.3),
    rgba(0,0,0,.3));
    width: 100%;
    height: 570px;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
  }

  .hero-1 {
    font-size: 3rem;
    font-weight:bold;
    position: absolute;
    left: 10%;
    margin-top: 10rem;
  }
  .follow_span{
    color:#D3006C;
    font-size: 6rem;
  }
  .follow_light{
    font-weight: 150;
  }
  .on_light{
    font-weight:150;
  }


  .flex-2 {
    display:flex;
    flex-direction:row;
    width: 100%;
    height:90rem;
    

  }

  .flex-3 {
    position: absolute;
    background: url('../components/assest/image/phones.png');
    width: 50%;
    height: 69%;
    /* left: 100px;
    top: 10vh;
     */
    right: 0%;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.main-info{
  align-items: center;
  justify-content: center;
  height: 100%;
}
.big-view{
  margin: 0 auto;
  width: 80%;
}
.hero-text{
  margin: 0 auto;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}