.rtnx {
    background: url(../components/assest/image/register-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 150vh;
    /* left: 1440px; */
    background-position: center;
}

.rtn-4 {
    background-image: linear-gradient(to right, #000000 -4.69%, rgba(0, 0, 0, 0) 436.67%);
    width: 100%;
    height: 100%;
    /* left: 1440px; */
    /*text-align: end;*/
    backdrop-filter: grayscale(1);
    top: 0;
    position: relative;
    margin-top: -100px
}

.sine {
    font-weight: 500;
    font-size: 54px;
}

.rtn-3 {
    /*margin-left: 80vh;*/
    padding: 200px 30px 0 0;
}

@media only screen and (max-width: 767px){
    .rtn-3{
        margin-left: -85px;
    }
    
}

.form-group {
    text-align: end;
}

.rtn .text {
    color: #fff;
}

.form-left {
    background-color: transparent;
    border-color: #d3006c;
    color: #fff;



}

.form-margin {
    margin-left: 110px;
}

.form-right {
    background-color: transparent;
    border-color: #d3006c;
    color: #fff;
}

.sine-2 {
    padding: 10px 50px 10px 50px;
    border-radius: 1px;
    font-weight: 30px;
    font-size: 20px;
    margin-right: 421px;
}

.text-left {
    text-align: center !important;
    margin-left: 260px;
    margin-top: 20px;
    color: #fff;
    margin-left: -110px;
}

